
/* Inicio estilos Header */


.black1 {
    background-color: black;
    list-style-type: none;
    
.lista {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
    
.link1 {

    display: flex;
    font-family: "ulises";
    background-color: black;
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
}

 

}

.logito {
    width: 175px;
}
/* Fin estilos Header */
