
/* Inicio estilos Header */
@media (min-width: 320px) {

    header {
        background-color: white;
        height: 100px;
    }
    
    header .header__logo {
        display: flex;
        justify-content: center;
    }
    
    .header__logo img {
        width: 200px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    }
    
    @media (min-width: 1200px) {
    
        header {
            background-color: white;
            
        }
    
        header img {
            width: 200px;
        }
    }

    .btn-verde {
        color: #006340;
        border-color: #006340;
        margin-left: 10px;
        margin-right: 10px;

        &:hover {
            background-color: #006340;
            color: white;
            border-color: #006340;
        }
    }

    .btn-burguer {
        color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 0);
    }




.black1 {
    background-color: black;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
.lista {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
    
.link1 {

    display: flex;
    font-family: "ulises";
    background-color: black;
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
}
}/* Fin estilos Header */
