
.imagenmujeres {
    width: 100%;
    height: auto;
    
    .destacado {background-color: black;}
}


.oferta { background-color: black;}



.row{


    .col {
        border: solid;    
        padding: 10px;
        justify-content: space-between;
        }
        
.mercancia {
    width: 125px;
    border: 5px;
    padding: 10px;
}

.logito {
    width: 100px;
    display:inline-block;
    justify-content: center;
    align-items: center;
}

}