
.imagenmujeres {
    width: 100%;
    height: auto;
    
    .destacado {background-color: black;}
}


.oferta { background-color: black;}

.mercancia {
    width: 125px;
}

.d-block{
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicio{
    width: 100%;
}
