
.banner_nb_promocional {
    display: flex;
    justify-content: center;
    margin: 50px;
}


/* ---------- SECCION Nuestra Tienda Animacion --------*/

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.ourst__logos {
    display: flex;
    overflow: hidden;
    padding: 10px 0;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    white-space: nowrap;
}

.ourst__slide {
    display: inline-block;
    animation: 25s slide infinite linear;


}

.ourst__slide img {
    height: 50px;
    margin: 0 10px;

}










.imagenmujeres {
    width: 100%;
    height: auto;
    
    .destacado {background-color: black;}
}


.oferta { background-color: black;}



.row{


    .col {
    
        }
        
.mercancia {
   
    border: 1px
}

.header_logo {
    width: 100px;
    display:inline-block;
    justify-content: center;
    align-items: center;
}

}